@model IEnumerable<Visage.Web.Models.Usuario>

@{
    ViewData["Title"] = "Usuários";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Adicionar Novo Usuário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Base64Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Embedding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Base64Image))
                    {
                        <img src="data:image/png;base64,@item.Base64Image" alt="Foto do usuário" style="max-width: 100px; max-height: 100px;" />
                    }
                    else
                    {
                        <span>Sem imagem</span>
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Embedding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoUsuario.Tipo ?? "Não encontrado")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
